@font-face {
  font-family: "Space Mono";
  src: url("./assets/SpaceMono-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Space Mono";
  src: url("./assets/SpaceMono-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: bold;
}

/* CSS Resets */

/*
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
/*
  5. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
  6. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #c5e4e7;
}
@media (max-width: 550px) {
  #root,
  #__next {
    min-height: 0;
  }
}

/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  width: 100%;
  text-align: center;
} */
/*
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.counter-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
}

.total-count {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  margin: 20px 0;
} */
